@import '../breakpoint';

.skills {
  margin-top: 50px;
  width: 100%;
  &__title {
    font-size: 32px;
    text-align: center;
    @include tablet {
      font-size: 28px;
    }
  }
  &__display {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }
  &__tools {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    &-title {
      font-size: 24px;
      text-align: center;
      @include tablet {
        font-size: 20px;
      }
    }
  }
  &__languages {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 56%;
    &-title {
      font-size: 24px;
      text-align: center;
      @include tablet {
        font-size: 20px;
      }
    }
  }
}
