.header__menu { margin-top: 20px;
                & ul { display: flex;
                       gap: 30px; 
                       & li { font-family: 'Roboto Slab', sans-serif;
                              font-size: 20px;     
                            }
                     }
              }